.container {
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.element {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: darkblue;
}